$text-heading: black;
$outline-color: orange;
$button-color: orange;
$btn-text-color: white;
$error-danger: #d9534f;

.Login {
  position: relative;
  display: flex;
  margin: 30px auto;
  align-items: center;
  justify-content: center;
}
form {
  box-shadow: 0px 3px 10px 2px rgba(214, 214, 214, 0.733);
  width: 30%;
  padding: 30px 40px 40px 40px;
  border-radius: 5px;

  h3 {
    margin-bottom: 20px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label {
      color: $text-heading;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 2px;
    }
    input {
      border: 1px solid grey;
      border-radius: 5px;
    }
    input:focus {
      outline-color: $outline-color;
    }
  }
  .forgot-password {
    font-size: 14px;
    float: right;
  }
  button {
    width: 100%;
    font-size: 14px;
    outline: none;
    border: none;
    padding: 4px 0;
    font-weight: 500;
    border-radius: 5px;
    color: $btn-text-color;
    background-color: $button-color;
    margin-top: 5px;
  }
  button:hover {
    background-color: orange;
  }

  button:focus {
    outline: none;
  }
  p {
    margin: 5px 0;
    font-size: 12px;
    font-weight: 500;
  }
  .error-div {
    border: 2px solid $error-danger;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;

    h5 {
      color: $error-danger;
      margin-bottom: 5px;
      font-size: 15px;
    }
    h6 {
      font-size: 14px;
    }
  }
}
