.list-group-item:hover {
  background-color: rgb(230, 230, 230);
}
.profile-card-div {
  min-height: 500px;
}
.edit-text:hover {
  cursor: pointer;
}

.model-section1-bg {
  background: url("/authorSignupbg.jpg");
  width: 100%;
  background-size: cover;
  height: 550px;
  background-position: center;
}
